<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/header.css">
    
</head>
<body>
    <div id="container">
        <header>
            <div class="header-container">
                <div class="header-flex">
                    <div class="header-left-container">
                        <div class="logo-container">
                            <img class="site-logo" src="/static/images/logo/site_logo.png" alt="site_logo">
                        </div>
                        <div class="menu-container">
                            <div class="site-nav-menu">
                                <a href="#ALL" class="site-nav-parent">SHOP</a>
                            </div>
                        </div>
                    </div>
                    <div class="header-right-container">
                        <button class="site-header-button">SEARCH</button>
                        <button class="site-header-button">BAG(<span class="bac-count">1</span>)</button>
                        <button class="site-header-button"><img class="korea-img" src="/static/images/logo/korea_img.PNG" alt="korea"></button>
                    </div>
                </div>
            </div>
            <nav class="nav-invisible">
                <div class="site-nav-mega">
                    <a href="" class="site-nav-child-link">1</a>
                    <a href="" class="site-nav-child-link">2</a>
                    <a href="" class="site-nav-child-link">3</a>
                    <a href="" class="site-nav-child-link">4</a>
                    <a href="" class="site-nav-child-link">5</a>
                    <a href="" class="site-nav-child-link">6</a>
                    <a href="" class="site-nav-child-link">7</a>
                    <a href="" class="site-nav-child-link">8</a>
                    <a href="" class="site-nav-child-link">9</a>
                    <a href="" class="site-nav-child-link">10</a>
                    <a href="" class="site-nav-child-link">11</a>
                    <a href="" class="site-nav-child-link">12</a>
                    <a href="" class="site-nav-child-link">13</a>
                </div>
                <div class="site-nav-mega">
                    <a href="" class="site-nav-child-link">1</a>
                    <a href="" class="site-nav-child-link">2</a>
                    <a href="" class="site-nav-child-link">3</a>
                    <a href="" class="site-nav-child-link">4</a>
                </div>
            </nav>
            <script src="/static/js/header.js"></script>
        </header>
        <main>

        </main>
        <footer>

        </footer>
    </div>
</body>
</html>